<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Of Task</h1>
    <table>
        <% if (tasks.length > 0) { %>
          <ul style="text-decoration: ;">
            <% tasks.forEach(item => { %>
              <li><%= item.task %></li>
            <% }) %>
          </ul>
        <% } %>
      </table>
      
</body>
</html>



