<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Of Task</h1>
    <table border="2px">
        <tr>
          <th>SL No</th>
          <th>Task</th>
          <th>update</th>
          <th>Delete</th>
        </tr>
        <% if (tasks.length > 0) { %>
          <% tasks.forEach((item, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= item.task %></td>
              <td>update</td>
              <td>Deleted</td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td>No tasks found.</td>
          </tr>
        <% } %>
          
      
</body>
</html>



